# Packages
.yalc
yalc.lock
node_modules/

# Build
dist/
dist-demo/
build/
*.tsbuildinfo

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/

# Tests
coverage/
.jest/
spec.json

# Vi
*.swp

# Environment variables
.env
