@import 'tailwindcss';

@import './theme.css';
@import '@aurora-is-near/intents-swap-widget/styles.css';

@theme {
    --spacing-*: initial;
    --radius-*: initial;
    --color-*: initial;

    /* Fonts */
    --font-display: var(--font-family-sw);

    /* Radius */
    --radius-none: 0;
    --radius-full: 99999px;

    --radius-sw-sm: var(--r-sw-sm);
    --radius-sw-md: var(--r-sw-md);
    --radius-sw-lg: var(--r-sw-lg);
    --radius-sw-xl: var(--r-sw-xl);

    /* Gray tones */
    --color-sw-gray-50: var(--c-sw-gray-50);
    --color-sw-gray-100: var(--c-sw-gray-100);
    --color-sw-gray-200: var(--c-sw-gray-200);
    --color-sw-gray-300: var(--c-sw-gray-300);
    --color-sw-gray-400: var(--c-sw-gray-400);
    --color-sw-gray-500: var(--c-sw-gray-500);
    --color-sw-gray-600: var(--c-sw-gray-600);
    --color-sw-gray-700: var(--c-sw-gray-700);
    --color-sw-gray-800: var(--c-sw-gray-800);
    --color-sw-gray-900: var(--c-sw-gray-900);
    --color-sw-gray-950: var(--c-sw-gray-950);

    /* Accent tones */
    --color-sw-accent-50: var(--c-sw-accent-50);
    --color-sw-accent-100: var(--c-sw-accent-100);
    --color-sw-accent-200: var(--c-sw-accent-200);
    --color-sw-accent-300: var(--c-sw-accent-300);
    --color-sw-accent-400: var(--c-sw-accent-400);
    --color-sw-accent-500: var(--c-sw-accent-500);
    --color-sw-accent-600: var(--c-sw-accent-600);
    --color-sw-accent-700: var(--c-sw-accent-700);
    --color-sw-accent-800: var(--c-sw-accent-800);
    --color-sw-accent-900: var(--c-sw-accent-900);
    --color-sw-accent-950: var(--c-sw-accent-950);

    /* Status colors */
    --color-sw-status-success: var(--c-sw-status-success);
    --color-sw-status-warning: var(--c-sw-status-warning);
    --color-sw-status-error: var(--c-sw-status-error);

    /* Spaces */
    --spacing-sw-xxs: 2px;
    --spacing-sw-xs: 4px;
    --spacing-sw-sm: 6px;
    --spacing-sw-md: 8px;
    --spacing-sw-2md: 10px;
    --spacing-sw-lg: 12px;
    --spacing-sw-xl: 16px;
    --spacing-sw-2xl: 20px;
    --spacing-sw-3xl: 24px;
    --spacing-sw-4xl: 32px;
    --spacing-sw-5xl: 40px;
    --spacing-sw-6xl: 48px;
    --spacing-sw-7xl: 64px;
    --spacing-sw-8xl: 72px;
    --spacing-sw-9xl: 80px;
    --spacing-sw-10xl: 88px;
    --spacing-sw-11xl: 96px;
    --spacing-sw-12xl: 108px --spacing-sw-max: 128px
}

@layer base {
    .sw {
        font-family: var(--sw-font-sans);
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@utility text-sw-label-lg {
    @layer components {
        @apply font-semibold;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: -0.025rem;
    }
}

@utility text-sw-label-md {
    @layer components {
        @apply font-semibold;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: -0.025rem;
    }
}

@utility text-sw-label-sm {
    @layer components {
        @apply font-semibold;
        font-size: 0.75rem;
        line-height: 0.875rem;
        letter-spacing: -0.01875rem;
    }
}

@utility text-sw-value-lg {
    @layer components {
        @apply font-semibold;
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: -0.0625rem;
    }
}

@utility text-sw-body-lg {
    @layer components {
        @apply font-medium;
        font-size: 1rem;
        line-height: 1.375rem;
        letter-spacing: -0.025rem;
    }
}

@utility text-sw-body-md {
    @layer components {
        @apply font-medium;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: -0.025rem;
    }
}

@utility text-sw-body-sm {
    @layer components {
        @apply font-medium;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: -0.025rem;
    }
}


#root {
    height: 100vh;
}
