@import 'tailwindcss';
@import '@aurora-is-near/intents-swap-widget/styles.css';

#root {
    height: 100vh;
}

@theme {
    --spacing-*: initial;
    --radius-*: initial;
    --color-*: initial;

    /* Fonts */
    --font-display: 'Inter', sans-serif;

    /* Radius */
    --radius-none: 0;
    --radius-full: 99999px;

    --radius-csw-sm: 6px;
    --radius-csw-md: 10px;
    --radius-csw-lg: 16px;

    /* Gray tones */
    --color-csw-gray-50: #F3F3F5;
    --color-csw-gray-100: #E4E5E9;
    --color-csw-gray-200: #CACCD3;
    --color-csw-gray-300: #B0B3BF;
    --color-csw-gray-400: #979BAA;
    --color-csw-gray-500: #7E8396;
    --color-csw-gray-600: #686D7D;
    --color-csw-gray-700: #555967;
    --color-csw-gray-800: #41444F;
    --color-csw-gray-900: #2E3038;
    --color-csw-gray-950: #24262D;

    /* Accent tones */
    --color-csw-accent-50: #FBF8FF;
    --color-csw-accent-100: #F6F1FF;
    --color-csw-accent-200: #EEE4FF;
    --color-csw-accent-300: #E6D6FF;
    --color-csw-accent-400: #DCC4FF;
    --color-csw-accent-500: #D5B7FF;
    --color-csw-accent-600: #BA7AFF;
    --color-csw-accent-700: #A528FF;
    --color-csw-accent-800: #7300B7;
    --color-csw-accent-900: #400069;
    --color-csw-accent-950: #280045;

    /* Status colors */
    --color-csw-status-success: #98FFB5;
    --color-csw-status-warning: #FADFAD;
    --color-csw-status-error: #FFB8BE;

    /* Spaces */
    --spacing-csw-xxs: 2px;
    --spacing-csw-xs: 4px;
    --spacing-csw-sm: 6px;
    --spacing-csw-md: 8px;
    --spacing-csw-2md: 10px;
    --spacing-csw-lg: 12px;
    --spacing-csw-xl: 16px;
    --spacing-csw-2xl: 20px;
    --spacing-csw-3xl: 24px;
    --spacing-csw-4xl: 32px;
    --spacing-csw-5xl: 40px;
    --spacing-csw-6xl: 48px;
    --spacing-csw-7xl: 64px;
    --spacing-csw-8xl: 72px;
    --spacing-csw-9xl: 80px;
    --spacing-csw-10xl: 88px;
    --spacing-csw-11xl: 96px;
    --spacing-csw-12xl: 108px;
    --spacing-csw-max: 128px
}

@layer base {
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
