

:root {
    --font-family-csw: 'Inter', sans-serif;

    --r-csw-sm: 6px;
    --r-csw-md: 10px;
    --r-csw-lg: 16px;
    --r-csw-xl: 24px;


    --c-csw-gray-50: #F3F3F5;
    --c-csw-gray-100: #E4E5E9;
    --c-csw-gray-200: #CACCD3;
    --c-csw-gray-300: #B0B3BF;
    --c-csw-gray-400: #979BAA;
    --c-csw-gray-500: #7E8396;
    --c-csw-gray-600: #686D7D;
    --c-csw-gray-700: #555967;
    --c-csw-gray-800: #41444F;
    --c-csw-gray-900: #2E3038;
    --c-csw-gray-950: #24262D;

    --c-csw-accent-50: #FBF8FF;
    --c-csw-accent-100: #F6F1FF;
    --c-csw-accent-200: #EEE4FF;
    --c-csw-accent-300: #E6D6FF;
    --c-csw-accent-400: #DCC4FF;
    --c-csw-accent-500: #D5B7FF;
    --c-csw-accent-600: #BA7AFF;
    --c-csw-accent-700: #A528FF;
    --c-csw-accent-800: #7300B7;
    --c-csw-accent-900: #400069;
    --c-csw-accent-950: #280045;

    --c-csw-status-success: #98FFB5;
    --c-csw-status-warning: #FADFAD;
    --c-csw-status-error: #FFB8BE;
}
